<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />
    <uses-permission android:name="freemme.permission.msa" tools:node="remove" />
    <application android:label="Nomad Isolated SDK Probe" android:allowBackup="false">
        <activity android:name=".ProbeActivity" android:exported="false" />
    </application>
</manifest>
